<!DOCTYPE html>
<html>
  <head>
    <title>Nurayn Nigeria Limited</title>
    <link rel="shortcut icon" href="images/index.jpg" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet " href="css/incss.css"
  </head>

  <body>
    <div class="w3-top" >
      <div class="w3-bar w3-white w3-card-4" id="myNavbar" >
       <a href="index.html" class="w3-hide-small w3-hide-medium"><img src="images/index.jpg" width="5%"></a>
        <a href="index.html" class="w3-hide-small w3-hide-large"><img src="images/index.jpg" width="10%"></a>
        <a href="index.html" class="w3-hide-medium w3-hide-large"><img src="images/index.jpg" width="20%"></a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small w3-text-teal">
          <a href="index.html" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
          <a href="services.html" class="w3-bar-item w3-button"><i class="fa fa-server"></i> SERVICES</a>
          <a href="about.html" class="w3-bar-item w3-button"><i class="fa fa-th"></i> ABOUT US</a>
          <a href="contact.html" class="w3-bar-item w3-button"><i class="fa fa-envelope "></i> CONTACT</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium w3-text-teal" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large w3-text-teal" style="display:none" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
      <a href="index.html" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
      <a href="services.html" onclick="w3_close()" class="w3-bar-item w3-button">OUR SERVICE</a>
      <a href="about.html" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT US</a>
      <a href="contact.html" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>
    <!--Section-->
    <div class="w3-container " style="padding:70px 16px">
      <div class="w3-center ">
      
        <img src="images/thankyou.jpg" width="100%">
      </div>
      <div class="w3-card-4 w3-center " style="font-size: 100%">

        <p><b> Thanks for sending us a message via www.Nuraynnig.com<br/>

If there’s anything you want to add in the meantime please feel free to reply to this email.<br/>

Thank you,<br/>

Nurayn Nigeria Limited<br/></b></p>
      
      </div>
    </div>


    <!--end section-->
    <!--Footer-->
    <div class="w3-container w3-black w3-text-white w3-row-padding" id="about"  style="padding:50px 16px;margin-top: 20px;">
      <div class=" w3-third ">
        <h3 class="w3-center w3-margin w3-center">About Us</h3>
        <p> At Nurayn Nigeria Limited time management is an oxymoron.
          Priority management is the answer to maximizing the time we have. Success in management requires learning fast
          as the world is changing</p>
        <a href="#contact" class="w3-bar-item w3-button btncolor">Read More >></a>
      </div>
      <div class="w3-third w3-ceter" id="contact" >
        <h3 class="w3-margin w3-center">Our Address</h3>
        <p><i class="fa fa-map-marker w3-margin " aria-hidden="true"></i> 18 Alhaji Makanjuola street, hostel Bus Stop, Agodo Egbe, Lagos.</p>
        <ul class="w3-ul">
          <li><i class="fa fa-phone w3-margin-right" aria-hidden="true"></i> +234 8071586604</li>
          <li><i class="fa fa-phone w3-margin-right" aria-hidden="true"></i> +234 7066558600</li></ul>
        <p><a href="mailto:info@nuraynnig.com"><i class="fa fa-envelope w3-margin" aria-hidden="true"></i> info@nuraynnig.com</a></p>
      </div>
      <div class="w3-third w3-center">
        <h3 class="w3-margin">Connect With Us</h3>
        <div class=" w3-row-padding ">
          <div class="w3-margin-bottom w3-margin-left">
            <a class="w3-margin-left" href="#"><i class="fa fa-facebook"></i></a>
            <a class="w3-margin-left" href="#"><i class="fa fa-twitter"></i></a>
            <a class="w3-margin-left" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="w3-margin-left" href="#"><i class="fa fa-google-plus"></i></a>
          </div>
          <a href="#" class="w3-button w3-teal w3-padding-large w3-margin-bottom">
            <i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        </div>
      </div>
      <div class="w3-container w3-center">
        <p>© 2017 Nurayn Nigeria Limited. All Rights Reserved. || Designed by
          <span class='w3-text-teal'><a href="https://portfolio.adescode.com"><b>Adescode</b></a></span> 
      </div>
    </div>
    </div>
    <div class=" w3-bottom ">
      <button onclick="document.getElementById('fminfo').style.display = 'block'" class="w3-round-medium w3-teal w3-border-0 w3-hover-shadow">For more information</button>
    </div>
    <div id="fminfo" class="w3-modal">
      <div class="w3-animate-bottom w3-modal-content">
        <header class="w3-container w3-teal"> 
          <span onclick="document.getElementById('fminfo').style.display = 'none'" 
                class="w3-button w3-display-topright">&times;</span>
          <h2><b>Nurayn Nigeria Limited</b></h2>
        </header>
        <div class="w3-container">
          <p>Block 26, ikeja lagos Nigeria</p>
          <p>call us: +234 586934718</p>
        </div></div>
        <script src="js/mobilebar.js">
        </script>
        </body>
        </html>
